body{
text-align: center;
background: rgb(232, 240, 241);
}
.choose{
    float: left;
    height: 300px;
    width: 200px;
    text-align: left;
    position: relative;
    left: 10%;
    top: 80px;
}
#savedPics{
    float: right;
    height: 270px;
    width: 270px;
   top: 390px;
    position: relative;
    right: -10%;
   border: 2px;  
    border-style: solid;
    border-color: brown; 
    padding: 5px;
}
#textSavePic{
    float: left;
}
#mainCanvasDraw{
  
    height: auto;
    position: relative;
    top: 50px;
    left: 11%;
}
#canvasSymbols{
    float: right;
    height: 270px;
    width: 270px;
    background-color: black;
    position: relative;
    top: 56px;
    right: 3%;
    display: inline-grid; 
}
#canvasStar{
    width: 87px;
    height: 87px;
    position: relative;
   margin: 20px;
   border: 2px;  
    border-style: solid;
    border-color: brown; 
    background-color: thistle;
}


#canvasHeart{
    width: 87px;
    height: 87px;
    position: relative;
    border: 2px;  
    border-style: solid;
    border-color: brown; 
    background-color: burlywood;
}
#divHeart{
    
    width: 88px;
    height: 88px;
    position: relative;
    margin: 20px;
    grid-row-start: 1;
    grid-column-start: 2;
}
#canvasMoon{
    background-color: rgb(131, 138, 226);
    width: 87px;
    height: 87px;
    position: relative;
   margin: 20px;
   border: 2px;  
    border-style: solid;
    border-color: brown; 
}
#canvasEllipse{
  
    width: 87px;
    height: 87px;
    position: relative;
    border: 2px;  
    border-style: solid;
    border-color: brown; 
    margin: 20px;
    background-color: teal;
}
#canvasStar:hover{
    background-color: #9e89a8;
    }
#canvasMoon:hover{
    background-color: #9e89a8;
}
#canvasHeart:hover{
    background-color: #9e89a8;
    }
#canvasEllipse:hover{
    background-color: #9e89a8;
    }
